*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 980px;
    margin: 0 auto;
}
header{
    width: 100%;
    background-size: 100%;
    height: 120px;
    background-image: url('image/a11.jpg');
    background-repeat: no-repeat;
    position: relative;
}
header a>img{
    width: 19%;
    height: 120px;
    padding-top: 0px;
    padding-left: 5px;
}
header h1{
    color: red;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
}
nav{
    width: 100%;
    height: 40px;
    background: rgb(5, 5, 117);
    margin-bottom: 3px;
}

nav .menu ul{
    justify-content: center;
    list-style: none;
    display: flex;
}
nav .menu ul>li{
    float: left;
    text-transform: uppercase;
    display: inline;
    font-weight: bold;
}
nav .menu ul>li>a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    display:inline-block;
    padding: 0 20px;
    line-height: 40px;
}
nav .menu a:hover{
    background-color: rgb(253, 215, 1) ;
    color: black;
    display: inline-block;
    border-radius:5px;
}

nav .menu .active > a{
    background: white;
    color: red;
    border-radius: 5px;
}

.slider img{
    width: 100%;
    height: 70vh;
}

article h1{
    font-size: 15px;
    color: rgb(3, 0, 51);
    font-weight: bold;
}

article h3{
    font-size: 18px;
    text-transform: uppercase;
    color: red;
    padding-top: 15px; 
    padding-bottom: 6px;
    font-weight: bold;
}
article h4{
    font-size: 13px;
    padding: 8px;
    padding-left: 10px;
    color: blue;
    padding-top: 5px;
    font-weight: bold;
}

article a{
    text-decoration: none;
}

article .list1, .list2, .list3{
    background-color: white;
    border-radius: 2px;
    border: 2px solid rgb(255, 0, 0);
    box-sizing: border-box;
    float: none;
    margin: 0px auto;
    outline: 0;
    padding: 15px 20px;
    vertical-align: baseline;
    color: black;
    box-shadow: 0 0 10px gray;
}

article{
    width: 70%;
}

.menu_phu{
    width: 28%;
    float: right;
}

.menu_phu .in iframe{
    width: 100%;
    height: 50vh;
    padding-bottom: 50px;
}

.menu_phu .in h4{
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

.list2 p,.list3 p,.list1 p{   
    top: 50px;
    right: 0px;
    padding-left: 175px;
    text-align: justify;
    padding-bottom: 25px;
    font-size: 15px;
    color: rgb(124, 116, 116);
}

.list2 img,.list1 img{
    width: 25%;
    height: 100px;
    float: left;
}

.list3 img{
    height: 75px;
    width: 25%;
    float: left;
}

.list2 li,.list3 li,.list1 li{
    list-style: circle;
    line-height: 1.5;
}

.list2 a,.list3 a,.list1 a{
    color: black;
    font-size: 13px;
}

.list2 a:hover,.list3 a:hover,.list1 a:hover{
    color: red;
}

.qua_trang{
    padding-top: 15px;
    text-align: center;
}

.qua_trang a{
    color: blue;
    padding: 0 5px;
    font-size: 13px;
}

footer{
    height: 120px;
    background-image: url(image/a11.jpg);
    margin: 10px 0 0 0;
    position: relative;
    display: block;
}
footer img{
    width: 13%;
    height: 95px;
    padding-top: 13px;
    padding-left: 5px;
}

.vb{
    position: relative;
    text-align: left;
    display: block;
    height: 0;
}
.icon p{
    color: white;
    font-size: 16px;
    position: absolute;
    right: 1%;
    top: 76%;
    box-sizing: border-box;
}

.icon_lh a{
    text-decoration: none;
}

.icon_lh .fa-facebook{
    color: rgb(0, 140, 255);
    font-size: 20px;
    margin: 0 4px;
}

.icon_lh .fa-google-plus-g{
    color: rgb(226, 246, 46);
    font-size: 20px;
    margin: 0 4px;
}

.icon_lh .fa-youtube{
    color: rgb(251, 41, 34);
    font-size: 20px;
    margin: 0 4px;
}

h5{
    border-top:2px solid #fd0202;
    padding-top: 13px;
    padding-bottom: 5px;
    font-size: 15px;
    color: blueviolet;
    font-weight: bold;
}

.de_an{
    padding-top: 20px;
}

